<%- include('../template/head') -%>
    <div class="container">
        <a href="/survey/new">Créer un nouveau sondage</a>
        <h1>Web-sondage</h1>
        <p>Voici les différents sondages existant</p>
    </div>
<%- include('../template/foot') -%>