<%- include('../template/head') -%>
    <a href="/survey/new">Créer un nouveau sondage</a>
    <h1><%= title %></h1>
    <p>Voici les différents sondages existant</p>
<%- include('../template/foot') -%>