<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">PEOPLETTE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Acceuil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/survey/new">Créer un nouveau sondage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/survey/index">Les sondages</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Se connecter</button>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">S'inscrire</button>
      </form>
    </div>
  </nav>